h4 {
    margin: 0;
}

.add-employee-modal {
    background: white;
    width: 700px;
    z-index: 1050;
    box-shadow: 0 10px 30px rgba(0,0,0,.2);
}

.input-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    align-content: center;
    gap: 16px;
}
