@using TimeKeepApp.Services
@inject AppState State;

<div class="top-row px-4 navbar navbar-dark">
    <div class="">
        <a class="navbar-brand" href="">TimeKeepingApp</a>
    </div>
</div>

<div class="nav-scrollable" ">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employees">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Employees
            </NavLink>
        </div>
    </nav>
</div>